 {{#each images}}
<tr>
    <th scope="row">{{this.Id}}</th>
    <td>
        <strong>{{this.Name}}</strong>
    </td>
    <td class="img-preview-container">
        <img src="{{this.Url}}" class="img-preview" id="js-img-base-{{this.Id}}" alt="{{this.Name}}">
    </td>
    <td>
        <button type="button" class="js-btn-remove-{{this.Id}} btn btn-danger" js-img-id="{{this.Id}}">Премахни</button>
    </td>
</tr>
{{/each}}